/* universal selector applying styling to all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the background color for the webpage */
body {
    background-color: #d9dcd6;
}

/* styling for the header section of the webpage */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* styles the main header with the sites logo */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

/* color styling for some letters in the sites logo */
.seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated previous selectors in main section since the styling was the same */
.mcontent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated previous selectors for the images in main section since the styling was the same */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.mh2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styling applies to all elements in the section with sidebar class */
.sidebar {
    margin-bottom: 32px;
    color: #ffffff;
}


h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* consolidated previous selectors for images in sidebar section since the styling was the same */
.sideimg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the footer to be positioned at the bottom center of the site */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
        
}

.fh2 {
    font-size: 20px;
   
}
